<div id="comments" class="hero-unit">
  <h4><%= comment.user.username%></h4>
  <%=simple_format comment.body%>
  <p class="text-muted">Enviado em <%= time_ago_in_words comment.created_at %></p>
  <%if user_signed_in?%>
    <%if current_user.id == comment.user_id %>
      <%= button_to "Delete", comment_path(comment), method: :delete, class: "btn-sm btn-danger btn-xs", data: { confirm: 'Você tem certeza?'} %>
    <%end%>
  <%end%>
</div>