<h1>Quem Somos</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://scontent-yyz1-1.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/c62.0.160.160/p160x160/1497799_559938170784673_7013112987791469360_n.jpg?oh=6d7f8735b72f42467c8b323d24e4c5f5&oe=56B6EC78">
      <div class="caption">
        <h3>Filipe</h3>
        <p>This is the application of True Toronto we going to help you to stay in Toronto</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://scontent-yyz1-1.xx.fbcdn.net/hprofile-xft1/v/t1.0-1/p160x160/11990582_1068205499864398_203311983094196147_n.jpg?oh=8b70c64e5112b3fc78ddda2514b5d237&oe=56B7B4AF">
      <div class="caption">
        <h3>Eduardo</h3>
        <p>This is the application of True Toronto we going to help you to stay in Toronto</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/1454584_640370349348055_2055557065_n.jpg?oh=c9d71b1fd70fb6bcbfee3f34372fa986&oe=56AF9A96&__gda__=1458430004_f0932b2eb4af5a90ead5493b4a6274e5">
      <div class="caption">
        <h3>Renato</h3>
        <p>This is the application of True Toronto we going to help you to stay in Toronto</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>  

</div>
