<div id="como_funciona">
  <h2>Como funciona o TrueToronto?</h2>

  <h3>Nossos serviços consistem em várias etapas!</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parte 1 (pós a contratação)</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Você preencheu os dados de sua viagem em nosso site no processo de contratação do nosso serviço, e recebeu o Email de confirmação.</li>
        <li>As Informações de sua viajem ficaram disponíveis em nosso site "Dados sua viagem".</li>
        <li>Nesta etapa existe um campo livre onde você pode descrever algo que deseja conhecer ou alguma dificuldade especifica que esteja enfrentando, fique à vontade para nos dizer assim conseguimos endereçar melhor suas dificuldades.</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parte 2 (Planejamento)</h3>
    </div>
    <div class="panel-body">
      <strong>Após 3 dias úteis da contratação do serviço vamos mandar em seu email um planejamento inicial com base em suas informações. Essas informações incluem:</strong>
        <ul>
          <li>Lista de locais próximos a sua estadia (Mercados, lojas, shoppings e etc).</li>
          <li>Rota detalhada de como chegar à escola usando transporte público, bem como os valores e como utilizar o transporte em Toronto.</li>
          <li>Um guia que montamos mostrando os melhores lugares para comprar o básico (comida, produtos de limpeza, material escolar e etc) na cidade.</li>
          <li>Guia de telefonia (operadoras, planos e preços).</li>
          <li>Bancos, onde e como abrir uma conta no Canada.</li>
          <li>Pontos turísticos mais badalados.</li>
          <li>Baladas, bares e restaurantes vida noturna de Toronto.</li>
        </ul>         
    </div>
  </div>  

  <h3>Serviços específicos de cada pacote (as etapas 1 e 2 são comuns a todos os serviços)</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pacote Budget</h3>
    </div>
    <div class="panel-body">
      <p>Neste pacote te encontraremos pessoalmente em Toronto em 1 oportunidade, com duração de 3 horas no final de semana onde vamos te mostrar a vida na cidade na prática.</p>
      <p>Neste dia temos como sugestão mostrar as dicas do transporte público e mostrar o caminho para sua escola (lembrando o serviço é pessoal portanto essa seria uma sugestão caso queira conhecer outro ponto basta avisar nossa equipe).</p>
      <p>Caso seja o caso te mostramos onde fazer seu id de estudante, quais dias comprar os passes do transporte público, quais são e onde estão os bancos.</p>
      <p>O encontro termina no Eaton centre (shopping famoso de Toronto), onde vamos te mostrar as lojas das operadoras de telefonia, principais lojas e a entrada para o Subterrâneo (muito util durante o inverno).</p>
    </div>
  </div>  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pacote Vip</h3>
    </div>
    <div class="panel-body">
      <p>Neste pacote te encontraremos em 3 oportunidades na cidade, todas elas com duração de 3 horas sendo que um dos encontros acontece em uma sexta feira com o intuito de mostrar a cidade em um dia normal da semana.</p>
      <p>Neste pacote a nossa sugestão seria dividir as tarefas, no primeiro encontro vamos te dar as dicas do transporte público, te levar na escola te mostrando os melhores caminhos basicamente a mesma sugestão do pacote Budget.</p>
      <p>No segundo encontro seria a sexta feira para mostrar quais dificuldades você vai enfrentar em um dia normal da semana (Rush hour), e quais as dicas para fugir de algumas delas. No final deste encontro vamos te mostrar os principais locais que ficam proximos ao seu endereço.</p>
      <p>No terceiro encontro te levamos nos principais pontos turísticos da cidade e damos dicas de como economizar um bom dinheiro para visitar cada um deles.</p>
      <p>Neste pacote te auxiliamos também na contratação de um plano de telefonia caso deseje.</p>
    </div>
  </div>    

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">True Toronto</h3>
    </div>
    <div class="panel-body">
      <p>Este é o nosso pacote completo, ele possui todos os 3 encontros do pacote Vip e além disso você tem um canal aberto com nossa equipe onde pode tirar suas dúvidas sobre a cidade durante 2 semanas(lembrando que este canal respeita as regras do nossos termos de uso).</p>

      <p>Outro ponto adiconal neste pacote te levamos pessoalmente aos melhores supermercados e lojas da cidade e te mostramos na prática dicas de como economizar com comida, roupas e produtos basicos sugerindo um planejamento de acordo com suas necessidades e claro seu orçamento.</p>
    </div>
  </div>

  <h3>Confira nossa página de <a href="/servicos">serviços</a> e veja qual melhor se adapta a suas necessidades!</h3>

  <h3>Ainda tem dúvidas fale com nossa equipe truetoronto@truetoronto.com.br</h3>

</div>