<div id="como_funciona">
  <h2>Como funciona o True Toronto?</h2>

  <h3>Nossos serviços consistem em várias etapas!</h3>

  <h3>Parte 1 (pós a contratação)</h3>
  <ul>
    <li><h4>Você deve preencher os dados da sua viagem logo após a contratação, caso alguma informação mude você pode alterar seus dados pelo no site acessando "Dados sua viagem"</h4></li>
    <li><h4>Nesta etapa existe um campo livre onde você pode descrever algo que deseja conhecer ou alguma dificuldade especifica que esta enfrentando</h4></li>
  </ul>

  <h3>Parte 2 (Planejamento)</h3>
  <h4>Após 3 dias úteis da contratação do serviço vamos mandar em seu email um planejamento inicial com base em suas informações. Essas informações incluem:</h4>
  <ul>
    <li><h4>Lista de locais próximos a sua estadia (Mercados, lojas, shoppings e etc)</h4></li>
    <li><h4>Rota detalhada de como chegar a sua escola usando transporte público bem como os valores e como utilizar o transporte em Toronto</h4></li>
    <li><h4>Um guia basico que montamos mostrando as os melhores lugares para comprar o básico na cidade</h4></li>
    <li><h4>Guia de telefonia (operadoras, planos e preços)</h4></li>
    <li><h4>Bancos, onde e como abrir uma conta no Canada</h4></li>
    <li><h4>Baladas, bares e restaurantes vida noturna de Toronto</h4></li>
  </ul> 

  <h3>Parte 3 (Encontros com nossa equipe)</h3>
  <h4>Isso mesmo te encontramos pessoalmente em 3 oportunidades (nos finais de semana) com duração de 3 horas onde vamos te mostrar a vida na cidade na prática (Os itens que damos como sugestão podem ser alterados de acordo com sua nescessidade basta comunicar nossa equipe)</h4>
  <h4>Nesta etapa o campo livre onde você descreveu algo que deseja conhecer ou alguma dificuldade especifica é importante</h4>
  <ul>
    <li><h4>Tour pelas principais atrações da cidade usando transporte publico e caso preferir nós te levamos até sua escola antes que suas aulas comecem</h4></li>
    <li><h4>Passeio pela sua vizinhança mostrando os principais locais que levantamos no documento enviado durante o planejamento</h4></li>
    <li><h4>Tour pelas lojas e serviços que julgamos mais importantes na cidade</h4></li>
  </ul> 
  <h4>Esta etapa é a mais importante pois caso você tenha dificuldades com o ingles estaremos com você ajudando em pontos chave como contratar um plano de telefonia por exemplo (sem cair nas armadilhas dos vendedores)</h4>

  <h3>Parte 4 (Resultados)</h3>
  <h4>Depois de nossos encontros você ja possui toda a informação e vivência na prática e dependendo do seu serviço você vai ter canal aberto com nossa equipe caso tenha mais algum ponto</h4>
  <h4>Lembrando que nossos serviços são individuais de acordo com seus planos esses itens são um guia básico podemos mudar os itens e te ajudar na procura do lugar para alugar por exemplo isso depende de suas necessidades</h4>

  <h3>Ainda tem duvidas fala com nossa equipe truetoronto@truetoronto.com.br</h3>

</div>