<div id="como_funciona">
  <h2>Como funciona o True Toronto?</h2>

  <h3>Nossos serviços consistem em várias etapas!</h3>

  <h3>Parte 1 (pós a contratação)</h3>
  <ul>
    <li><h4>Você deve preencher os dados da sua viagem logo após a contratação, caso alguma informação mude você pode alterar seus dados pelo nosso site acessando "Dados sua viagem"</h4></li>
    <li><h4>Nesta etapa existe um campo livre onde você pode descrever algo que deseja conhecer ou alguma dificuldade especifica que esteja enfrentando</h4></li>
  </ul>

  <h3>Parte 2 (Planejamento)</h3>
  <h4>Após 3 dias úteis da contratação do serviço vamos mandar em seu email um planejamento inicial com base em suas informações. Essas informações incluem:</h4>
  <ul>
    <li><h4>Lista de locais próximos a sua estadia (Mercados, lojas, shoppings e etc)</h4></li>
    <li><h4>Rota detalhada de como chegar a sua escola usando transporte público bem como os valores e como utilizar o transporte em Toronto</h4></li>
    <li><h4>Um guia basico que montamos mostrando os melhores lugares para comprar o básico (comida, produtos de limpeza, matetiral escolar e etc) na cidade</h4></li>
    <li><h4>Guia de telefonia (operadoras, planos e preços)</h4></li>
    <li><h4>Bancos, onde e como abrir uma conta no Canada</h4></li>
    <li><h4>Baladas, bares e restaurantes vida noturna de Toronto</h4></li>
  </ul> 

  <h3>Serviços especificos de cada pacote (as etapas 1 e 2 são comuns a todos os serviços)</h3>

  <h3>Pacote Budget</h3>
  
    <h4>Neste pacote te encontraremos pessoalmente em Toronto em 1 oportunidade, com duração de 3 horas no final de semana onde vamos te mostrar a vida na cidade na pratica.</h4>
    <h4>Neste dia temos como sugestão mostrar as dicas do transporte público e mostrar o caminho para a escola (lembrando o serviço e e pessoal portanto essa seria uma sugestão caso queira conhecer outro ponto basta avisar nossa equipe)</h4>

  <h3>Pacote Vip</h3>

    <h4>Neste pacote te encontraremos em 3 oportunidades na cidade, todas elas com duração de 3 horas sendo que um dos encontros acontece em uma sexta feira com o intuito de mostrar a cidade em um dia normal da semana</h4>
    <h4>Neste pacote a nossa sugestão seria dividir as tarefas, no primeiro encontro vamos te dar as dicas do transporte público, te levar na escola te mostrando os melhores caminhos e dar dicas de como fazer um documento aqui em Toronto caso seja um estudante</h4>
    <h4>No segundo encontro seria a sexta feira para mostrar quais dificuldades você vai enfrentar em um dia normal da semana e quais as dicas para fugir de algumas delas. No final deste encontro vamos te mostrar os principais locais que ficam proximos ao seu endereço</h4>
    <h4>No terceiro encontro te levamos nos principais pontos turísticos da cidade e damos dicas de como economizar um bom dinheiro para visitar cada um deles</h4>

  <h3>True Toronto</h3>

    <H4>Este e nosso pacote completo, ele possui todos os 3 encontros do pacote Vip e além disso você tem um canal aberto com nossa equipe onde pode tirar suas dúvidas sobre a cidade durante 1 semana(lembrando que este canal respeita as regras do nosso termo de uso)</H4>

    <h4>Outro ponto adiconal neste pacote te levamos pessoalmente aos melhores supermercados e lojas da cidade e te mostramos na prática dicas de como economizar com comida, roupas e produtos basicos sugerindo um planejamento de acordo com suas necessidades e claro seu orçamento</h4>

  <h3>Confira nossa página de <a href="/servicos">serviços</a> e veja qual melhor se adapta a suas necessidades!</h3>

  <h3>Ainda tem dúvidas fale com nossa equipe truetoronto@truetoronto.com.br</h3>

</div>