<div id="welcome">

  <h2>Olá, nós somos um trio de Brasileiros que atualmente reside em Toronto e vai ajudar você a tornar sua viagem muito mais proveitosa!</h2>

  <h3>Agora você deve estar pensando "mas como?"</h3>

  <h4>Nós passamos pelas mais diversas dificuldades e sabemos exatamente quais problemas um estrangeiro vai encontrar na cidade.</h4>
  <h4>Nossos serviços vão fazer você economizar muito tempo e dinheiro!</h4>
  <h4>Assim você se concentra em executar seus planos e não perde o sono com alguns problemas que enfrentamos!</h4>

  <h4>Citando alguns pontos:</h4>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="/assets/ttc_nova.jpg" class="img-responsive" alt="Responsive image" style=" max-width: 100% !important; height: auto; display: inline-block;">
        <div class="caption">
          <h3>Transporte público</h3>
          <p>Muita gente pensa: "OK! O país é de primeiro mundo, o transporte público também é de primeiro mundo." não é bem assim!</p>
          <p>Existem alguns detalhes que podem fazer você economizar um bom tempo, e o melhor, um bom dinheiro se você souber usar corretamente o transporte público de Toronto (descontos para estudantes, passes mensais e etc).</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="/assets/rent_tratada.jpg" class="img-responsive" alt="Responsive image" style=" max-width: 100% !important; height: auto; display: inline-block;">
        <div class="caption">
          <h3>Homestay, aluguel e outras moradias</h3>
          <p>Ajudamos a valiar qual a melhor opção de moradia para sua viagem, mostrando vantagens e desvantagens de cada uma delas de um modo que só quem vive em Toronto sabe descrever!</p>
          <p>Toronto possui uma dificuldade que a maioria dos lugares nos quais pesquisei antes da minha viagem não cita, a maioria dos anúncios de imóveis para aluguel exigem uma comprovação de renda, exigência que me fez perder muito tempo procurando e visitando lugares.</p>
          <p>Nós te ajudamos a procurar por moradias especificas para estudantes ou residentes temporários, e até mesmo visitamos os lugares caso você ainda esteja no Brasil e claro te damos dicas sobre valores e localizações.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="/assets/Mercado_truetoronto.jpg" class="img-responsive" alt="Responsive image" style=" max-width: 100% !important; height: auto; display: inline-block;">
        <div class="caption">
          <h3>Alimentação e vestuário</h3>
          <p>Parece ser um tópico simples porém e possível economizar muito dinheiro comprando esses itens nos lugares corretos. Como alimentação e algo diário qualquer economia é bem-vinda, nós auxiliamos nestes pontos com base em onde você vai morar aqui na cidade, daremos dicas de mercados, restaurantes, lojas, brechós e etc.</p>
          <p>Um ponto que também vamos levar em consideração e que você esta vindo do Brasil um pais tropical e não tem roupas para o inverno de Toronto, somente neste ponto e possível fazer uma economia gigantesca sabendo quais itens comprar, como e onde procurar.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="/assets/turismo_image.jpg" class="img-responsive" alt="Responsive image" style=" max-width: 100% !important; height: auto; display: inline-block;">
        <div class="caption">
          <h3>Passeios e turismo</h3>
          <p>Toronto e uma cidade com várias atrações turísticas, porém existem uma serie e dicas que podem fazer você ter acesso a essas atrações pagando muito menos e aproveitando muito mais. Outro ponto que auxiliamos de maneira exclusiva, você pode nos dizer os pontos que gostarias de conhecer e nós traçamos um plano com as dicas, ou caso ainda não saiba nós mostramos as opções mais visitadas da cidade e você escolhe quais visitar.</p>
          <p>Damos dicas de Museus, Zoológico, passeios ao ar livre até a vida noturna de Toronto a cidade possui os mais diversos tipos de atrações. Tudo de acordo com suas escolhas.</p>
        </div>
      </div>
    </div>
  </div>
  
  <h4>Esses itens que citei são alguns pontos que podemos te ajudar, visite nossa pagina de <a href="/servicos"> serviços </a> e <a href="/como_funciona">entenda </a> como funcionam. Tenho certeza que você vai gostar! te oferecemos serviços exclusivos com base em seus planos de viagem!</h4>
  <h4>Acompanhe nosso <a href="/blog">Blog</a>, temos novos posts todas as sextas-feiras!</h4>

</div>
