<h2>
  <%= link_to produto.nome, produto %>
</h2>
<p><%= simple_format(produto.descricao) %></p>
<p><strong>Valor: <%=format_price(produto.price)%></strong></p>
<%if user_signed_in?%>
  <p><a href="/cart/<%=produto.id%>" class="btn btn-primary btn-lg enable" role="button">
    <span style="font-size:1.5em; font-weight: bold;" class="glyphicon glyphicon-shopping-cart">Contratar</span></a><p>
<%end%>

