<h2>
  <%= link_to produto.nome, produto %>
</h2>
<p><%= simple_format(produto.descricao) %></p>
<p><strong>Valor: <%=format_price(produto.price)%></strong></p>
<%if user_signed_in?%>
  <%= link_to "Contratar", itens_cart_index_path(:produto_id => produto), :method => :post, class: "btn btn-primary btn-lg enable glyphicon glyphicon-shopping-cart" %>
<%end%>

