<h2>
  <%= link_to post.title, post %>
</h2>

<p>
  <%= pluralize(post.comments.size, "Comentario(s)")%>
  <%= simple_format(post.content) %>
</p>

<p class="text-muted">
  <%= post.created_at.to_formatted_s(:long)%>
</p>