<p>Olá <%= @resource.email %>!</p>

<p>Sua senha foi bloqueada devido a muitas tentativas erradas de acesso!</p>

<p>Acesse o link abaixo para desbloquear sua senha</p>

<p><%= link_to 'Desbloquear senha', unlock_url(@resource, unlock_token: @token) %></p>
